@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap);

/*---------ENCABEZADO--------*/
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 85px;
    width: 200px;
    border-radius: 80%;
}

.contenedor .encabezado nav a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding-right: 15px;
	cursor:pointer;
}

.contenedor .encabezado nav a:hover{
    text-decoration: underline;
}


/*----------MENU-----------*/
nav ul {
    /*Tamaños y distancias*/
    height:inherit;

    /*Estilos*/
    list-style-type: none;
    cursor:pointer;

    /*Display*/
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 10rem;
    
}

nav ul p{
    font-style: normal !important;
    font-weight: 1000 !important;
    font-size: 15px !important;
    line-height: 16px !important;
    font-family: Montserrat, sans-serif !important;
    color: black;
}

nav ul p:hover{
    color: white;
}


/*------------CAMPO BUSCAR-------------*/

.container_buscar {
	position: absolute;
	left: 50%;
	top: 6%;
	transform: translate(-50%,-50%);
	padding: 10px;
}

input {
	outline: none;
	box-sizing: border-box;
	height: 40px;
	width: 350px;
	padding: 0 20px;
	color: #000;
	border-radius: 50px;
	font-size: 20px;
	border: 1px solid black;
    

}

::placeholder {
	color: grey;
}

.btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 60px;
	height: 60px;
	background: black;
	line-height: 80px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}

.btn i {
    font-size: 25px;
	color: white;
	line-height: 80px;
	transition: all .7s ease;

}

.container_buscar:hover i{
	transform: rotate(-360deg);
}

.btn:hover{
	background: #fd611a;
}
