/*------------HEADER------------*/
header {
    grid-area: 1 / 1 / 2 / 10;
    height: fit-content;

    /*Cuadrícula grid dentro del header*/
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 10rem 7rem    
}

/*------------IDENTIFICACIÓN------------*/
header div.identificacion {
    grid-area: 1 / 1 / 2 / 10;
    background-color: var(--primary-color);

    /*Layout de la barra*/
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*Color*/
    color: var(--terciary-color);

    /*Tamaño letra*/
    font-size: 125%;
    
}

/*Logo*/
header div.identificacion #divLogo{
    display: flex;
    align-items: center;

    margin-left: 25rem;

    font-size: 150%;
    font-family: 'Cinzel', serif;
} 
header div.identificacion img {
    width: 20rem;
    height: 10rem;
    cursor: pointer;
}

/*Enlaces*/
header div.identificacion .enlaces {
    padding: 10rem;
    display: flex;
    align-items: center;
}

header div.identificacion .enlaces p {
    padding: 1rem;
    margin-right: 2rem;
    cursor:pointer;
    font-size: 150% !important;
}

header div.identificacion .enlaces i {
    padding: 1rem;
    margin-right: 2rem;
}




/*------------NAVEGACIÓN------------*/
header nav {

    grid-area: 2 / 1 / 2 / 10;
    height: 100%;

    /*Estilos*/
    background-color: #fd611a;
    /*border-radius: 0.5rem;*/
    display: flex;
    justify-content: center;

}

header nav ul {
    /*Tamaños y distancias*/
    height:inherit;
    margin-right: 4rem;
    margin-top: 0;

    /*Estilos*/
    list-style-type: none;
    cursor:pointer;

    /*Display*/
    display: flex;
    justify-content: space-between;
    align-items: center;  
    gap: 20rem;
    font-size: 180% !important;
}


/*------------CAMPO BUSCAR-------------*/

.container_buscar {
	position: absolute;
	left: 50%;
	top: 4.5%;
	transform: translate(-50%,-50%);
	padding: 10px;
}

input {
	outline: none;
	box-sizing: border-box;
	height: 60px;
	width: 550px;
	padding: 0 20px;
	color: #000;
	border-radius: 50px;
	font-size: 20px;
	border: 1px solid #fd611a;

}

::placeholder {
	color: grey;
}

.btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 80px;
	height: 80px;
	background: #fd611a;
	line-height: 80px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}

.btn i {
	font-size: 25px;
	color: white;
	line-height: 80px;
	transition: all .7s ease;
}

.container_buscar:hover i{
	transform: rotate(-360deg);
}

.btn:hover{
	background: #fd611a;
}

/*------------MEDIA QUERIES------------*/

@media (max-width: 1150px) {
    /*Navegación*/
    header nav {
        grid-area: 2 / 3 / 3 / 8;
    }
  }

  @media (max-width: 1064px) {
    /*Navegación*/
    header nav {
        grid-area: 2 / 1 / 3 / 10;
    }

    /*Logo letras*/
    header div.identificacion #divLogo{
        font-size: 80%;
    }
  }