
*{
    margin: 0;
    padding: 0;
}
body{
    background: #fff;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    padding:0;
}

.contenedor{
    width: 100%;
    height: 100%;
    /*max-width: 1000px; ancho m치ximo de la p치gina*/
    /*margin: 20px auto; auto permite centrar nuestra p치gina en forma horizontal*/
    display: grid;
    /*gap: 20px; nos ahorramos tenes que poner m치rgenes entre los elementos*/

    /*3 columnas: contenido (con 2 widgets) + sidebar*/
    grid-template-columns: repeat(3,1fr);

    /*5 filas: header, menu, contenido, widgets, footer*/
    grid-template-rows: repeat(5, auto);

    grid-template-areas: "encabezado encabezado encabezado"
                         "menu       menu       menu"
                         "contenido  contenido  contenido"
                         "contenido  contenido  contenido"
                         "pie        pie        pie";
}

.contenedor > div,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .menu,
.contenedor .pie {
    padding: 20px;
    
}

.contenedor .encabezado{
    background: #0f1729;
    color: #fff;
    grid-area: encabezado; 
    display: flex;
    justify-content: space-between;
    /*max-height: 70px;*/
    align-items: center;
    padding: 20px; 
}



.contenedor .menu{
    background: #4070F4;
    grid-area: menu;
}



.contenedor .contenido{
    background: #fff;
    grid-area: contenido; 

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 30rem repeat(1, fit-content(5rem));
    grid-column-gap: 0px;
    grid-row-gap: 5px;
}

.contenedor .pie{
    background: 0f1729;
    color: #fff;
    grid-area: pie; 
   /* max-height: 120px;*/
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(1, 5rem);
    
}

@media screen and (max-width: 768px){
    .contenedor{

        grid-template-columns: repeat(3,1fr);

        /*4 filas: header, menu, contenido, widgets, footer*/
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "encabezado encabezado encabezado"
                             "menu       menu       menu"
                             "contenido contenido  contenido"
                             "pie       pie        pie";
                             }
}


@media screen and (max-width: 450px){
    .contenedor{
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "encabezado encabezado "
                              "menu       menu       "
                             "contenido  contenido "
                             "pie        pie ";
    }
}